<!DOCTYPE html>
<html lang="en">
<head>
<title>Agrox</title>
<meta charset="utf-8">
<link rel="stylesheet" href="css/reset.css" type="text/css" media="all">
<link rel="stylesheet" href="css/layout.css" type="text/css" media="all">
<link rel="stylesheet" href="css/style.css" type="text/css" media="all">
<script type="text/javascript" src="js/jquery-1.6.js"></script>
<script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="js/tms-0.3.js"></script>
<script type="text/javascript" src="js/tms_presets.js"></script>
<script type="text/javascript" src="js/script.js"></script>
<!--[if lt IE 9]>
<script type="text/javascript" src="js/html5.js"></script>
<style type="text/css">#menu a, .bg, .bg2, #ContactForm a {behavior:url("../js/PIE.htc")}</style>
<![endif]-->
</head>
<body id="page1">
<div class="body1">
  <div class="main">
    <!--header -->
    <header>
      <div class="wrapper">
        <h1><a href="index.html" id="logo">Agrox Agriculture Company</a></h1>
        <nav>
          <ul id="menu">
            <li class="active"><a href="index.html">Home</a></li>
            <li><a href="products.html">Products</a></li>
            <li><a href="technology.html">Technology</a></li>
            <li><a href="pricing.html">Pricing</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
        </nav>
      </div>
      <div class="slider_bg">
        <div class="slider">
          <ul class="items">
            <li><img src="images/img1.jpg" alt=""></li>
            <li><img src="images/img2.jpg" alt=""></li>
            <li><img src="images/img3.jpg" alt=""></li>
          </ul>
        </div>
      </div>
    </header>
    <!-- / header -->
    <!-- content -->
    <article id="content">
      <div class="wrapper">
        <h2>New Technologies</h2>
        <div class="wrapper">
          <section class="col1"> <span class="dropcap1"><span>a</span></span>
            <div class="cols">
              <p class="pad_bot1 color1">Agrox is one of free website templates created by TemplateMonster.com team.</p>
              <p class="pad_bot2">This website template is opti- mized for 1024X768 screen res. It is also XHTML &amp; CSS valid.</p>
              <a href="#" class="link1">Read More</a> </div>
          </section>
          <section class="col1 pad_left1"> <span class="dropcap1"><span class="color1">b</span></span>
            <div class="cols">
              <p class="pad_bot1 color1">This Agrox Template goes with two packages – with PSD source files and without them.</p>
              <p class="pad_bot2">PSD source files are available for free for the registered members of Templates.com.</p>
              <a href="#" class="link1">Read More</a> </div>
          </section>
          <section class="col1 pad_left1"> <span class="dropcap1"><span class="color2">c</span></span>
            <div class="cols">
              <p class="pad_bot1 color1">This Agrox website template has several pages:</p>
              <p class="pad_bot2"><a href="index.html" class="link2">Home Page</a>, <a href="products.html" class="link2">Products Page</a>, <a href="technology.html" class="link2">Technology</a>, <a href="pricing.html" class="link2">Pricing</a>, <a href="contact.html" class="link2">Contact Us</a> (note that contact us form – doesn’t work).</p>
              <a href="#" class="link1">Read More</a> </div>
          </section>
        </div>
      </div>
    </article>
  </div>
</div>
<div class="body2">
  <div class="main">
    <article id="content2">
      <div class="wrapper">
        <section class="col2">
          <h2>We Want to Rise Your Crops <span>and Livestock!</span></h2>
          <div class="testimonials">
            <p class="quot">Sed ut perspiciatis unde omnis iste natus error sit voluptatem aclaudantium, totam rem aperiam, eaque ipsa, eaque ipsa quae ab illo inventore.<img src="images/quot2.png" alt=""></p>
          </div>
          <p class="pad_bot1"><em class="font1 color1">Capabilities:</em></p>
          <div class="wrapper">
            <section class="col4">
              <ul class="list1">
                <li><a href="#">Compact Tractors</a></li>
                <li><a href="#">Application Equipment</a></li>
                <li><a href="#">Specialty Tractors</a></li>
                <li><a href="#">Utility Tractors</a></li>
                <li><a href="#">Arable Tractors</a></li>
                <li><a href="#">Track Traktors</a></li>
              </ul>
            </section>
            <section class="col4 pad_left1">
              <ul class="list1">
                <li><a href="#">Lawn &amp; Garden</a></li>
                <li><a href="#">Seeding &amp; Tillage</a></li>
                <li><a href="#">Power Generation</a></li>
                <li><a href="#">Pre-Owned Equipment</a></li>
                <li><a href="#">Commercial Grounds</a></li>
                <li><a href="#">Articulated</a></li>
              </ul>
            </section>
          </div>
        </section>
        <section class="col3 pad_left2">
          <h2>Our Products</h2>
          <div class="wrapper pad_top1">
            <figure class="left marg_right1"><img src="images/page1_img1.jpg" alt=""></figure>
            <p><span class="font1 color2">Tomato</span><br>
              Quia voluptas sit aspernatur aut odit aut fugit quia consequuntur magni minima veniam nostrum exercitationem ullam. &nbsp; <a href="#" class="link1">Read More</a> </p>
          </div>
          <div class="wrapper">
            <figure class="left marg_right1"><img src="images/page1_img2.jpg" alt=""></figure>
            <p><span class="font1 color2">Sweet Pepper</span><br>
              Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur voluptate velit esse quam molestiae consequatur. &nbsp; <a href="#" class="link1">Read More</a> </p>
          </div>
          <div class="wrapper">
            <figure class="left marg_right1"><img src="images/page1_img3.jpg" alt=""></figure>
            <p><span class="font1 color2">Cucumber</span><br>
              Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi. &nbsp; <a href="#" class="link1">Read More</a> </p>
          </div>
        </section>
      </div>
    </article>
    <!-- / content -->
  </div>
</div>
<div class="main">
  <!-- footer -->
  <footer>
    <div class="wrapper">
      <section class="col2">
        <div class="wrapper">
          <section class="col4">
            <h3>Follow Us </h3>
            <ul id="icons">
              <li><a href="#"><img src="images/icon1.jpg" alt=""><span>Facebook</span></a></li>
              <li><a href="#"><img src="images/icon2.jpg" alt=""><span>Twitter</span></a></li>
              <li><a href="#"><img src="images/icon3.jpg" alt=""><span>Linked In</span></a></li>
            </ul>
          </section>
          <section class="col4 pad_left1">
            <h3>Why Us </h3>
            <ul id="why_us">
              <li><a href="#">Sed perspiciatis unde </a></li>
              <li><a href="#">Omnis natus error</a></li>
              <li><a href="#">Voluptatem accusantium </a></li>
            </ul>
          </section>
        </div>
        <div id="footer_link">Copyright &copy; <a href="#">Domain Name</a> All Rights Reserved<br>
          Design by <a target="_blank" href="http://www.templatemonster.com/">TemplateMonster.com</a></div>
      </section>
      <section class="col3 pad_left2">
        <h3>Email Us</h3>
        <form id="ContactForm" action="#">
          <div>
            <div class="wrapper"> <span>Your Name:</span>
              <div class="bg">
                <input type="text" class="input">
              </div>
            </div>
            <div class="wrapper"> <span>Your E-mail:</span>
              <div class="bg">
                <input type="text" class="input">
              </div>
            </div>
            <div class="textarea_box"> <span>Your Message:</span>
              <div class="bg2">
                <textarea name="textarea" cols="1" rows="1"></textarea>
              </div>
            </div>
            <a href="#">Submit</a> </div>
        </form>
      </section>
    </div>
    <!-- {%FOOTER_LINK} -->
  </footer>
  <!-- / footer -->
</div>
</body>
</html>